body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font: bold;
  color: white;
  width: 100%
}

.App-placeholder {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  font: bold;
  color: white;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.App-button {
  border: none;
  background: transparent;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: opacity 0.3s ease; /* Add transition for smooth change */

}
.App-button:hover {
  opacity: 0.7; /* Change opacity on hover */
}

ul.Task-list {
  display: flex;
  margin: 20px auto; /* Center the list horizontally */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: black;
  font-size: 20px; /* Use font-size instead of font */
  width: 50%; /* Limit the width of the list */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

ul.Task-list li {
  list-style-type: none; /* Remove the list item bullet */
  margin: 10px;
  padding: 10px; /* Add some padding */
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
  width: 50%; /* Make the list items take up the full width of the list */
  text-align: center; /* Center the text */
  border-radius: 5px; /* Add rounded corners */
}

ul.Task-list li:hover {
  background-color: #c2ebc6;
  cursor: pointer;
}

